img {
	max-width:100%;
}

.gallery {
	background-image: url('img/Bluebackground.jfif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding: 80px 0;
}

.gallery img {
	background-color: transparent;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,3);
	cursor: pointer;	
}

#gallery-modal .modal-img{
width: 100%;
}